{% extends 'dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_base %}
<!-- Dashboard container -->
<div class="container dashboard_container">
	<!-- Dashboard row-1 -->
 	<div class="row">
 		<!-- Search div -->
	 	<div class = "col-sm-12 ">
	 		<!-- Dashboard header -->
			<h3 class="text-center">What would you like to search?</h3>
			<!-- Dashboard form -->
			<form id="dashboard_form" action={% url 'dashboard_search' %} method='get'>
				<!-- Search box field -->
				<div class="form-group col-sm-8 col-sm-offset-2">
					{{ form.non_field_errors }}
					{% if form.search_item.errors %}
						<!-- For displaying errors -->
						<div class="has-error has-feedback">
							{{ form.search_item }}
							<!-- For displaying error messages inline -->
							<span class="help-inline text-danger">
			                    {% for error in  form.search_item.errors %}{{ error }}{% endfor %}
			                </span>
			                <!-- Giving cross glyhicon -->
			                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					{% else %}
						<!-- For displaying input field with glyphicon inside it -->
						<div class="controls has-feedback">
	 						{{form.search_item}}
	 						<!-- Giving search glyphicon -->
	 						<span class="glyphicon glyphicon-search form-control-feedback"></span>
						</div>
					{% endif %}		
				</div><!-- end search box fields -->
				<!--  Dashboard submit button -->
 				<div class="form-group col-sm-12 text-center">
					<button id="dashboard_sumbit" type="submit" class="btn btn-primary " >Search</button>
				</div>
			</form><!-- end dashboard form -->
		</div><!-- end search div -->
	</div><!-- end dashboard row-1 -->
	<!-- Dashboard row-2 -->
	<div class="row">
		<div id="dashboard_result"></div>
	</div><!-- end dashboard row-2 -->
 </div><!-- end dashboard container -->
{% endblock %}


