{% load staticfiles %}
<!-- FOOTER -->
<footer>
  <!-- Footer container -->
  <div class="container">
    <!-- Footer row -->
    <div class="row">
      <!-- Copy right div -->
      <div class="col-sm-4 ">
        <h6>Copyright &copy; 2016 company</h6>
      </div><!-- end copy right div -->
      <!-- Empty div -->
      <div class="col-sm-4"></div>
      <!-- Coded by div -->
      <div class="col-sm-4 text-center">
        <h6>Coded with <span class = "glyphicon glyphicon-heart"></span> By Ajay</h6>
      </div><!-- end coded by div -->
    </div><!-- end footer row -->
  </div><!-- end footer container -->
</footer><!-- end footer -->