{% extends 'home_base.html' %}
{% load staticfiles %}

{% block home_base %}

<!-- Carousel
    ================================================== -->
    <div id="myCarousel"  class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static 'images/first_slide.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to Mindfire Solutions.</h1>
              <p>We are a work-focused unit of 650+ people, 16 years old, that is just focused on doing good tech work</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'signup' %}" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{% static 'images/first_slide.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>About Us.</h1>
              <p>We do only one thing - off-shore small-team software development - and we do it very well. From hiring to testing to reviews to environment to learning to culture, we are focused on being the rock-stars of software development. </p>
              <p><a class="btn btn-lg btn-primary" href="http://www.mindfiresolutions.com/aboutus.htm" role="button">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static 'images/first_slide.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Environment.</h1>
              <p>We have a flexible culture and laissez-faire atmosphere that is conducive to techies and geeks to flower.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle cool" src="{% static 'images/service.png' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Services</h2>
          <p>Mindfire offers services to deliver your projects on time, below cost and above quality expectations.
          </p>
          <p><a class="btn btn-default" href="http://www.mindfiresolutions.com/services.htm" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/skills.png' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Skills</h2>
          <p>Mindfire has a broad range of skills in different technologies like Web development, Mobile develoment, Automated testing</p>
          <p><a class="btn btn-default" href="http://www.mindfiresolutions.com/skills.htm" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'images/industry.jpeg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Industries</h2>
          <p>Mindfire has the unique advantage of providing customized IT solutions to a diverse range of industries in global market.</p>
          <p><a class="btn btn-default" href="http://www.mindfiresolutions.com/industries.htm" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Knowledge. <span class="text-muted"></span></h2>
          <p class="lead">Mindfire believes that to succeed in the software economy and render valuable services to our clients, we need to establish a sphere of knowledge and expertise.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'images/knowledge.png' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Process. <span class="text-muted"></span></h2>
          <p class="lead">Mindfire has always believed in the power of channeled energy, or the impact of a disciplined process on creative development.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'images/process.png' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">      

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Clients. <span class="text-muted"></span></h2>
          <p class="lead">Clients have consistently appreciated our efforts, and our results, simply because we are completely committed to their success. We believe in making clients for life..</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'images/clients.png' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->


    {% endblock %}