{% extends 'dashboard_base.html' %}
{% load static %}
{% block dashboard_base %}
<!-- Profile container -->
<div class="container-fluid profile_container">
	<!-- Profile row -->
    <div class="row profile">
    	<!-- Profile side bar -->
		<div class="col-md-3">
			<!-- Profile sidebar div  -->
			<div class="profile-sidebar">
				<!-- Sidebar userpic -->
				<div class="profile-userpic">
					{% if user.userdetail.image %}
					<img src="{% get_static_prefix %}{{user.userdetail.image}}" class="img-responsive" alt="Image not found ">
					{% else %}
					<img src="{% get_static_prefix %}images/blank-profile.jpg" class="img-responsive" alt="Image not found">
					{% endif %}
				</div><!-- end sidebar userpic-->
				<!-- Sidebar username -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.first_name}} {{user.last_name}} 
					</div>
					<div class="profile-usertitle-job">
						{{user.userdetail.user.email}}
					</div>
				</div><!-- end sidebar username -->
				<!-- Sidebar menu -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="{{profile}}">
							<a href="{% url 'profile' %}">
							<i class="glyphicon glyphicon-user"></i>
							Profile </a>
						</li>
						<li>
							<a href="{% url 'edit_profile' %}">
							<i class="glyphicon glyphicon-pencil"></i>
							Edit profile </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
						<li>
							<a href="{% url 'logout' %}">
							<i class="glyphicon glyphicon-log-out"></i>
							Logout </a>
						</li>
					</ul>
				</div><!-- end sidebar menu-->
			</div><!-- end profile sidebar div  -->
		</div><!-- end profile sidebar  -->
		<!-- Profile content -->
		<div class="col-md-9">
			<!-- Profile content div -->
            <div class="profile-content">
            	<!--Heading row  -->
				<div class="row">
					<!-- Heading div -->
					<div class="col-md-12">
						<div class="page-header">
							<!-- heading -->
							<h1>Profile</h1>
						</div>
					</div><!-- end heading div -->
				</div><!-- end heading row -->
				<!-- Profile content row -->
				<div class="row">
					<!-- Personal information div-->
					<div class="col-md-12">
						<table class="table borderless">
							<tr>
								<th class="col-md-3"><p>Personal Information</p></th>
								<td class="col-md-3"></td>
								<td class="col-md-6"></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Name :</p></td>
								<td class="col-md-6"><P>{{user.first_name}} {{user.last_name}}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Gender :</p></td>
								<td class="col-md-6"><P>{{user.userdetail.get_gender_display}}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Date of birth :</p></td>
								<td class="col-md-6"><P>{{user.userdetail.date_of_birth}}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Marital status :</p></td>
								<td class="col-md-6"><P>{{user.userdetail.get_marital_display}}</P></td>
							</tr>
						</table>
					</div> <!-- end personal information div -->
					<!-- Contact detail div-->
					<div class="col-md-12">
						<!-- Line divider -->
						<div class="page-header"></div>
						<table class="table borderless">
							<tr>
								<th class="col-md-3"><p>Contact Details</p></th>
								<td class="col-md-3"></td>
								<td class="col-md-6"></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Email :</p></td>
								<td class="col-md-6"><P>{{user.email}}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Phone :</p></td>
								<td class="col-md-6"><P>{{user.userdetail.phone}}</P></td>
							</tr>
						</table>
					</div><!-- end contact detail div -->
					<!-- Address div-->
					<div class="col-md-12">
						<!-- Line divider -->
						<div class="page-header"></div>
						<table class="table borderless">
							<tr>
								<th class="col-md-3"><p>Address</p></th>
								<td class="col-md-3"></td>
								<td class="col-md-6"></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Address :</p></td>
								<td class="col-md-6"><P>{{user.userdetail.address}}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Street :</p></td>
								<td class="col-md-6"><P>{{user.userdetail.street}}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>City :</p></td>
								<td class="col-md-6"><P>{{user.userdetail.city}}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>State :</p></td>
								<td class="col-md-6"><P>{{user.userdetail.state}}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Zip code :</p></td>
								<td class="col-md-6"><P>{{user.userdetail.zip_code}}</P></td>
							</tr>
						</table>
					</div><!-- end address div -->
					<!-- Preferred communication -->
					<div class="col-md-12">
						<!-- Line divider -->
						<div class="page-header"></div>
						<table class="table borderless">
							<tr>
								<th class="col-md-3"><p>Preferred communication</p></th>
								<td class="col-md-3"></td>
								<td class="col-md-6"></td>
							</tr>
							<tr>
								<th class="col-md-3"></th>
								<td class="col-md-3"><p>Mail :</p></td>
								<td class="col-md-6">{% if user.userdetail.mail %}<span class="glyphicon glyphicon-ok"></span>{% endif%}</td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Message :</p></td>
								<td class="col-md-6"><P>{% if user.userdetail.message %}<span class="glyphicon glyphicon-ok"></span>{% endif%}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Phone call :</p></td>
								<td class="col-md-6"><P>{% if user.userdetail.phonecall %}<span class="glyphicon glyphicon-ok"></span>{% endif%}</P></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>Other :</p></td>
								<td class="col-md-6"><P>{% if user.userdetail.other %}<span class="glyphicon glyphicon-ok"></span>{% endif%}</P></td>
							</tr>
						</table>
					</div><!-- end preferred communication -->
					<!-- Extra note div-->
					<div class="col-md-12">
						<!-- Line divider -->
						<div class="page-header"></div>
						<table class="table borderless">
							<tr>
								<th class="col-md-3"><p>Extra note</p></th>
								<td class="col-md-3"></td>
								<td class="col-md-6"></td>
							</tr>
							<tr>
								<td class="col-md-3"><p></p></td>
								<td class="col-md-3"><p>{{user.userdetail.extra_note}}</p></td>
								<td class="col-md-6"><P></P></td>
							</tr>
						</table>
					</div><!-- end extra note div -->
				</div> <!-- end of profile content row -->											
            </div> <!-- end profile content div-->
		</div><!-- end profile content -->
	</div><!-- end profile row -->
</div><!-- end profile container -->
{% endblock %}