{% extends 'home_base.html' %}
{% load staticfiles %}

{% block home_base %}
	<!-- Signup container -->
	<div class = "container signup_container">
		<!-- Signup row -->
		<div class = "row">
			{% if feedback %}
			<!-- For displaying feedback messages in alert box -->
			<div class = "col-sm-8 col-sm-offset-2">
					<div class="alert alert-success">
			            <a class="close" href="#" data-dismiss="alert">×</a>
			            <strong>Success!</strong>
			                {{ feedback }}
					</div>
			</div>
			{% else %}
			<!-- Signup div -->
			<div class = "col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 signup_div ">
					<!-- Signup header -->
					<h3 class="page-header text-center" > Create an account</h3>
					{% for message in messages %}
					    {% if 'error' in message.tags %}
					    <!-- For displaying error messages in alert box -->
					        <div class="alert alert-danger">
					            <a class="close" href="#" data-dismiss="alert">×</a>
					            <strong>Error!</strong>
					                {{ message }}
					        </div>
					    {% endif %}
					{% endfor %}
					<!-- Signup form -->
					<form action="{% url 'signup' %}" method="post">{% csrf_token %}
							{{ form.non_field_errors }}
						        {% for field in form %}
						            {% if field.errors %}
						            	<!-- Field -->
						                <div class="form-group">
						                    <label >{{ field.label }}*</label>
						                    <!-- For displaying errors --> 
						                    <div class="has-error has-feedback">{{ field }}
						                    	<!-- For displaying error messages inline -->
						                        <span class="help-inline text-danger">
						                            {% for error in  field.errors %}{{ error }}{% endfor %}
						                        </span>
						                        <!-- Giving cross glyhicon -->
						                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
						                    </div>
						                </div><!-- end field -->
						            {% else %}
						            	<!-- Field -->
						                <div class="form-group">
						                    <label>{{ field.label }}*</label> 
						                    <div>{{ field }}
						                        {% if field.help_text %}
						                        	<!-- For help text -->
						                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
						                        {% endif %}
						                    </div>
						                </div><!-- end field -->
						            {% endif %}
						        {% endfor %}
						   <!--  Singup submit button -->
						    <div class="form-group text-center">
						        <button type="submit" class="btn btn-primary " >Submit</button>
						    </div>							
					</form><!-- end signup form -->
			</div><!-- end signup div -->
			{% endif %}
		</div><!-- end signup row -->
	</div><!-- end signup container -->
{% endblock %}