{% extends 'checkout/checkout_base.html' %}
{% load staticfiles %}
{% block checkout_base %}
<div class="container dashboard-container">
 	<div class="row">
 		<div class = "col-sm-8 col-sm-offset-2">
			{% if feedback %}
			<!-- For error message -->
			<div class="alert alert-danger">
				<a class="close" href="#" data-dismiss="alert">x</a>
				<strong>Error!</strong>
				  	{{feedback}}
			</div>
			{% else %}
			<!-- For success message -->
			<div class="alert alert-success">
				<a class="close" href="#" data-dismiss="alert">x</a>
				<strong>Successfully placed your order.</strong><a href="{% url 'dashboard' %}"> continue shoping</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock%}